body {
    background-color: #ffffff;
}
html {
    font-size:16px;
}
a {
    color: #5CC9F5
}
.pull-left {
  float: left !important;
}
.pull-right {
    float: right !important;
}

h1{
    font-size:24px;
}
h2{
    font-size:20px;
}
h3{
    font-size:16px;
}
h4{
    font-size:12px;
}
